<div class="has-background-light">
    <div class="hero">
        <div class="hero-body has-background-blazor has-text-white has-text-centered">
            <h1 class="title is-size-1 has-text-white">Blazor Sortable</h1>
            <p>An integration of the <a class="has-text-white has-text-weight-bold" href="https://github.com/SortableJS/Sortable">SortableJS library</a> with Blazor.</p>
        </div>

        <a class="button is-dark" href="https://github.com/the-urlist/blazorsortable" target="_blank">
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
            <span>View the original project on GitHub</span>
        </a>
        
        <a class="button is-dark" href="https://github.com/AlexNek/BlazorSortableList" target="_blank">
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
            <span>View the extended project on GitHub</span>
        </a>
    </div>
</div>

@code {
}
