@page "/demopage"
@using BlazorSortableList.DemoApp.Client.Components
@rendermode InteractiveAuto

<PageTitle>Blazor sortable list demo</PageTitle>
<PageHeader></PageHeader>

<TabControl>
    <TabPage Title="Single list">
        <div class="has-background-light">
            <section class="section has-background-white">
                <SimpleList></SimpleList>
            </section>
            <section class="section">
                <DragHandles></DragHandles>
            </section>
            <section class="section has-background-white">
                <Filtering></Filtering>
            </section>
        </div>
    </TabPage>
    <TabPage Title="Two lists">
        <div class="has-background-light">
            <section class="section has-background-white">
                <SharedLists></SharedLists>
            </section>
            <section class="section">
                <Cloning></Cloning>
            </section>
            <section class="section has-background-white">
                <DisablingSorting></DisablingSorting>
            </section>
            <section class="section">
                <ForceFallback></ForceFallback>
            </section>
        </div>
    </TabPage>
    <TabPage Title="Three lists">
        <div class="has-background-light">
            <section class="section">
                <SimpleKanbanBoard></SimpleKanbanBoard>
            </section>
        </div>
    </TabPage>
    <TabPage Title="Multi selection">
        <div class="has-background-light">
            <section class="section">
                <MultiSelection></MultiSelection>
            </section>
            <section class="section">
                <MultiSelectionKey></MultiSelectionKey>
            </section>
            <section class="section">
                <MultiSelectionNoReset></MultiSelectionNoReset>
            </section>
        </div>
    </TabPage>
    <TabPage Title="Nested">
        <div class="has-background-light">
            <section class="section">
                <NestedLists></NestedLists>
            </section>
            <section class="section has-background-white">
                <NestedLists2></NestedLists2>
            </section>
        </div>
    </TabPage>
</TabControl>

@code {

}
