@page "/"
@attribute [StreamRendering]

@using BlazorSortableList.DemoApp.Client.Components

@inject NavigationManager Navigation

<PageTitle>Blazor sortable list demo</PageTitle>
<PageHeader></PageHeader>
<div>Loading...</div>
@code
{

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //Webassembly loading trick. Do not use in production.
        //Babylon.Blazor project has a better solution
        await Task.Delay(1000);

        //Server side must have a home page, so we can switch to client side later,
        Navigation.NavigateTo("demopage");
    }
}