@page "/"
@attribute [StreamRendering]
@rendermode InteractiveServer

@using BlazorSortableList.DemoApp.Client.Components
@inject NavigationManager Navigation

<PageTitle>Blazor sortable list demo</PageTitle>
<PageHeader></PageHeader>
<div>Loading...</div>


@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Navigation.NavigateTo("demopage");
        }
    }
}